// чат с соощениями
.scrollbar_messages::-webkit-scrollbar {
  width: 6px;
}

.scrollbar_messages::-webkit-scrollbar-track {
  background: #252525;
  border-radius: 6px;
}

.scrollbar_messages::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 10px;
}

// модалка с выбраными фотками
.scrollbar_photos::-webkit-scrollbar {
  width: 4px;
}

.scrollbar_photos::-webkit-scrollbar-track {
  background: #3e4348;
  border-radius: 6px;
  transition: all 0.8s ease-in-out;

  &:hover {
    background: #4d5256;
    transition: all 0.8s ease-in-out;
  }
}

.scrollbar_photos::-webkit-scrollbar-thumb {
  background: #a2a5a7;
  border-radius: 10px;
}

// скрыть скроллбарF
.scrollbar_none::-webkit-scrollbar {
  display: none;
}

// фон поверх картинки выбраного сообщения
.img__check {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b04f0a4a;
  }
}

.message {
  // Стрелочка чьё сообщение
  &__item_after {
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 50px;
    height: 50px;
    // clip-path: polygon(11% 91%, 13% 86%, 15% 72%, 17% 66%, 25% 91%, 54% 100%, 0 100%, 7% 96%);
    clip-path: polygon(
      11% 91%,
      13% 86%,
      15% 72%,
      17% 66%,
      25% 91%,
      54% 100%,
      0 100%,
      7% 96%
    );

    &_right {
      @media (max-width: 769px) {
        right: -7px;
        left: auto;
        transform: scale(-1, 1);
      }
    }
  }

  // подсветка только что найденного сообщения
  &_found {
    animation: found 5s ease;
  }
}

@keyframes found {
  0% {
    background-color: #a86c4146;
  }
  20% {
    background-color: #b56933bc;
  }
  100% {
    background-color: inherit;
  }
}
